.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  max-height: 12rem;
  background-color: #6d0606;
}
@media screen and (max-width: 1023px) {
  .header {
    max-height: 5rem;
  }
}
.header_logo {
  width: 10rem;
  height: 10rem;
  background-color: #f2f2f2;
}
.header_logo img {
  width: 10rem;
  max-height: 10rem;
  object-fit: fill;
}
@media screen and (max-width: 576px) {
  .header_logo {
    width: 5em;
    height: 5em;
  }
  .header_logo img {
    width: 5rem;
    height: 5rem;
  }
}
.header_text {
  width: 100%;
  max-height: 100%;
  background-color: #6d0606;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header_text-title {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #bb991d;
  font-family: "Arapey", serif;
  text-align: center;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 1rem 0 0;
}
@media screen and (max-width: 576px) {
  .header_text-title {
    font-size: 14px;
    line-height: 1rem;
  }
}
.header_text-nav {
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .header_text-nav {
    display: none;
  }
}
.header_text-nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 3.5em;
}
.header_text-nav ul .active {
  background-color: #f6c202;
  color: black;
}
.header_text-nav ul li {
  text-decoration: none;
  list-style: none;
  padding: 0.2rem 0.3rem;
  background-color: #d8ae15;
  text-align: center;
  cursor: pointer;
  font-size: 1.17rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_text-nav ul li a {
  text-decoration: none;
  color: #6d0606;
  font-weight: 500;
}
.header_text-nav ul li:hover {
  background-color: #f6c202;
}
.header_text-span {
  color: #f2f2f2;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 576px) {
  .header_text-span {
    display: none;
  }
}

.main {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem 0 7rem;
}
.main_tablet {
  display: none;
}
.main-title {
  text-align: center;
  font-weight: 600;
  font-family: "Arapey", serif;
  color: #6d0606;
}
.main-text {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.main a {
  text-decoration: none;
}
.main-btn {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  margin: 0 auto;
  color: #d8ae15;
  background-color: #6d0606;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 2.5rem;
  font-family: "Arapey", serif;
}
.main-btn:hover {
  color: #f6c202;
}

.main-content {
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8em;
}
.main-content-form {
  width: 100%;
  height: auto;
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #6d0606;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 576px) {
  .main-content-form {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .main-content-form {
    display: none;
  }
}
.main-content-btns-nav {
  width: 100%;
}
.main-content-btns-nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 4rem;
}
.main-content-btns-nav ul .active {
  background-color: #f6c202;
  color: black;
}
.main-content-btns-nav ul li {
  text-decoration: none;
  list-style: none;
  padding: 0.2rem 0.3rem;
  background-color: #d8ae15;
  text-align: center;
  cursor: pointer;
  font-size: 1.17rem;
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content-btns-nav ul li a {
  text-decoration: none;
  color: #6d0606;
}
.main-content-btns-nav ul li:hover {
  background-color: #f6c202;
}
.main-content-results {
  width: 80vw;
  border-radius: 10px;
  margin-top: 3rem;
  background-color: rgba(180, 178, 175, 0.224);
  padding: 0.5rem 1rem;
}
.main-content-results thead {
  text-align: left;
  font-family: "Arapey", serif;
  font-size: 1.3rem;
}
.main-content-results tbody {
  font-family: "Montserrat", sans-serif;
}
.main-content-results tbody tr {
  height: 32px;
}
.main-content-results tbody tr:nth-child(even) {
  background-color: rgba(137, 132, 132, 0.4196078431);
}
.main-content-results tbody .select {
  width: 4rem;
}
@media screen and (max-width: 1023px) {
  .main-content-results {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .main_tablet {
    display: block;
    width: 100%;
    height: 70%;
    margin: 20% auto;
    padding: 0 5rem;
  }
  .main_tablet-text {
    text-align: center;
    font-size: 3rem;
    color: rgb(47, 46, 46);
  }
  .main-title {
    display: none;
  }
  .main-text {
    display: none;
  }
  .main-btn {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .main_tablet-text {
    font-size: 2rem;
  }
}

.form-Real,
.form-OldIndexBooks,
.form-ImagesOfText,
.form-VitalRecords,
.form-MarriageRecords {
  width: 80%;
  max-width: 1200px;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  row-gap: 1rem;
}
.form-Real .article,
.form-OldIndexBooks .article,
.form-ImagesOfText .article,
.form-VitalRecords .article,
.form-MarriageRecords .article {
  width: 34%;
  font-size: 1.3rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
.form-Real .article .label-text,
.form-OldIndexBooks .article .label-text,
.form-ImagesOfText .article .label-text,
.form-VitalRecords .article .label-text,
.form-MarriageRecords .article .label-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Arapey", serif;
}
.form-Real .article .label-text input, .form-Real .article .label-text select,
.form-OldIndexBooks .article .label-text input,
.form-OldIndexBooks .article .label-text select,
.form-ImagesOfText .article .label-text input,
.form-ImagesOfText .article .label-text select,
.form-VitalRecords .article .label-text input,
.form-VitalRecords .article .label-text select,
.form-MarriageRecords .article .label-text input,
.form-MarriageRecords .article .label-text select {
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  padding: 0.2rem 0.4rem;
}
.form-Real button,
.form-OldIndexBooks button,
.form-ImagesOfText button,
.form-VitalRecords button,
.form-MarriageRecords button {
  width: 70%;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.form-Real button img,
.form-OldIndexBooks button img,
.form-ImagesOfText button img,
.form-VitalRecords button img,
.form-MarriageRecords button img {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

table {
  display: none;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

* {
  box-sizing: border-box;
}

body {
  zoom: 100%;
  background-color: #f2f2f2;
}

/*# sourceMappingURL=index.css.map */
