.header {
    display: flex;
    justify-content: space-between;
    max-height: 12rem;
    background-color: $c-burgundy;

    @include tablet{
        max-height: 5rem;
    }

    &_logo {
        width: 10rem;
        height: 10rem;
        background-color: $c-white;

        img {
            width: 10rem;
            max-height: 10rem;
            object-fit: fill;
        }

        @include mobile {
            width: 5em;
            height: 5em;

            img{
                width: 5rem;
                height: 5rem;
            }
        }
    }

    &_text {
        width: 100%;
        max-height: 100%;
        background-color: $c-burgundy;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-title {
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: $c-yellovv;
            font-family: $f-arapey;
            text-align: center;
            letter-spacing: .2em;
            margin: 0;
            padding:  1rem 0 0;

            @include mobile {
                font-size: 14px;
                line-height: 1rem;
            }
        }

        &-nav {
            width: 100%;

            @include tablet{
                display: none;
            }
            
            ul {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // gap: 20px;
                margin: 0;
                padding: 0;
                height: 3.5em;
                
                
                .active {
                    background-color: $c-dandelion;
                    color: black;


                }
    
                li {
                    text-decoration: none;
                    list-style: none;
                    padding: .2rem .3rem;
                    background-color: $c-mustard;
                    text-align: center;
                    cursor: pointer;
                    font-size: 1.17rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        color: $c-burgundy;
                        font-weight: 500;

                    }
    
                    &:hover {
                        background-color: $c-dandelion;
                    }
                }
    
            }
        }

        &-span {
            color: $c-white;
            font-size: 1.3rem;
            margin-bottom: .5rem;
            font-family: $f-mont;

            @include mobile{
                display: none;
            }
        }
    }

}