.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100vw;
    max-height: 8rem;
    background-color: $c-burgundy;

    &_logo {
        width: 8rem;
        height: 8rem;
        background-color: $c-white;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: fill;
        }
    }

    &_text {
        max-height: 100%;
        background-color: $c-burgundy;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: .4rem 0;

        &-title {
            font-size: 1.5rem;
            line-height: 2rem;
            color: $c-yellovv;
            font-family: $f-arapey;
            text-align: center;
            letter-spacing: .2rem;
            margin: 0;
            padding: 0;
        }

        &-span {
            color: $c-white;
            font-size: 1.3rem;
            margin-bottom: .5rem;
            font-family: $f-mont;
        }
    }

}