.main{
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 0 7rem;

    &_tablet{
        display: none;
    }

    &-title{
        text-align: center;
        font-weight: 600;
        font-family: $f-arapey;
        color: $c-burgundy;
    }

    &-text{
        font-size: 1.1rem;
        font-family: $f-mont;
        font-weight: 400;
    }

    a{
        text-decoration: none;
    }

    &-btn{
        display: block;
        font-size: 1.5rem;
        padding: .5rem 3rem;
        margin: 0 auto;
        color: $c-mustard;
        background-color: $c-burgundy;
        cursor: pointer;
        border-radius: 7px;
        margin-top: 2.5rem;
        font-family: $f-arapey;

        &:hover{
            color: $c-dandelion;
        }
    }
}