@import "media-query";
@import "variables";
@import "header";
@import "main";
@import "realProperty";
@import "tablet";
@import "forms";


*{
    box-sizing: border-box;
}

body{
    zoom:100%;
    background-color: $c-white;
}