@import "media-query";
@import "modal";
@import "variables";
@import "header";
@import "main";
@import "realProperty";
@import "tablet";
@import "forms";
@import "table";


*{
    box-sizing: border-box;
}

body{
    zoom:100%;
    background-color: $c-white;
}

.company{
    font-size: 3rem;
}

.company-span{
    font-size: 1.5rem;
}